{# templates/profile/edit.html.twig #}

{% extends 'base.html.twig' %}
{% block title %}Modification du profil {% endblock %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}

{% block body %}
    <h1>Modification de votre profil</h1>
    <div class="contact">
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_widget(form) }}

        <button type="submit" class="bouton-voir">Sauvegarder mes informations</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
