{% extends 'base.html.twig' %}

{% block title %}Fifty-One Club Enghien{% endblock %}

{% block body %}
<section class="about-section">
    <h1 class="presentation-title">Pourquoi devenir Fifty-Oner?</h1>

    <div class="content-wrapper">
        <div class="image-pres">
            <img src="/images/fity-oner.jpg" class="logo-pres" alt="Fifty-One Club Image">
        </div>
        
        <div class="text-pres">
            <p>Le Fifty-One te permet de :</p>
            <ul class="benefits-list">
                <li>Mettre en œuvre des projets sociaux</li>
                <li>Recevoir le soutien et l’amitié d’un groupe fort et engagé</li>
                <li>Élargir ton réseau et tes ressources pour booster ces projets</li>
                <li>Acquérir une expérience valorisante pour une vie sociale et professionnelle</li>
                <li>Apporter ta contribution à un monde meilleur pour tous</li>
            </ul>
            <p class="additional-text">
                Tu t’investis avec les autres dans une cause qui t’est chère. Tu développeras des amitiés sincères, profitables à toi-même et à ta famille, et tu pourras aussi élargir ton réseau professionnel et international. Ensemble, vous organisez et participez à divers événements, montez des actions, et récoltez des fonds. Vous décidez des projets que vous souhaitez soutenir et vous vous apportez aide et soutien mutuels jusqu’à atteindre les objectifs fixés. Avec, en retour, des moments de joie et de réussite, dans l’amitié.
            </p>
        </div>
    </div>
</section>
{% endblock %}
