{% extends "base.html.twig" %}

{% block title %}Présentation{% endblock %}
{% block body %}
   <div class="container">
    <h1 class="actus-title">QU'EST-CE QUE LE FIFTY-ONE?</h1>
    {% for block in presentation %}
        <div class="principe">
            <div class="image-pres">
                <img src="{{ asset('/images/' ~ block.image) }}" class="logo-presa" alt="Image">
            </div>
            <div class="text-pres">
                {{ block.text|raw }}
            </div>
        </div>
    {% endfor %}
</div>

    {% block javascripts %} 
        <script src="https://unpkg.com/scrollreveal"></script>
        <script>
    {{ parent() }}
    // Initialize ScrollReveal
    const sr = ScrollReveal({
        duration: 1000, // Animation duration (in milliseconds)
        delay: 200, // Delay between item animations (in milliseconds)
        distance: '300px', // Distance of the animation
        origin: 'bottom', // Origin of the animation
    });

    // Define the blocks to animate
    const blocks = document.querySelectorAll('.principe');

    // Apply the animation to each block
    blocks.forEach((block) => {
        sr.reveal(block);
    });
</script>

    {% endblock %}
{% endblock %}