{% extends "base.html.twig" %}

{% block title %}Présentation{% endblock %}
{% block body %}
    <div class="container">
        <h1>QU'EST-CE QUE LE FIFTY-ONE?</h1>

        <div class="principe">
        <div class="image-pres">
            <img src="images/logo3.gif" class="logo-presa" alt="Image 1">
        </div>
        <div class="text-pres">
            <h2>LE FIFTY-ONE INTERNATIONAL</h2>
            <p>
Dès 1966, en pleine euphorie sociale et économique des Golden Sixties, le Fifty-One International s’est mis au service des enfants, des défavorisés et des personnes handicapées, par le biais de projets de bénévolat.
Depuis lors, Amitié, Estime et Tolérance sont les valeurs que nous cultivons au quotidien et qui constituent à la fois le fil rouge et le moteur de nos actions.</p>

<p>Ensemble, plus loin.
Fifty-One est une organisation forte de par son envergure internationale, mais également proche des gens grâce aux clubs présents dans différentes villes et communes.
Chaque club mène à bien ses propres projets, soutenu par l’organisation. Le rassemblement des forces et compétences des membres permet de déployer les moyens financiers nécessaires et d’offrir une structure et un réseau indispensables à la réussite concrète des projets.</p>
        </div>
    </div>
    <div class="principe">
        <div class="text-pres">
            <h2>LE FIFTY-ONE CLUB ENGHIEN</h2>
            <p>La première réunion officielle du club Enghien en formation a eu lieu le 8 septembre 1983 sous le parrainage du Fifty-One Club de Mons 8.
Un peu plus de 3 ans après sa première réunion officielle, s’est tenue le 17 février 1987 son Assemblée Constitutive, ce qui a permis la remise de Charte le 30 avril 1988.
L'aide à la jeunesse, aux handicapés et aux étudiants est l'une de nos préoccupations constantes, que ce soit au niveau des clubs, des districts ou du Fifty-One International.
Plusieurs fois par an, nous organisons des activités en vue de récolter des fonds qui servent à financer nos actions en faveur du service à la communauté.
Notre Service Club se réunit les 1er et 3ème mardis du mois à Enghien au restaurant "Brasserie R". Nous sommes toujours heureux d’accueillir lors de nos réunions des membres d’autres Services Clubs et d'autres personnes, invitées par les membres du club.</p>
        </div>
        <div class="image-pres">
            <img src="images/logo2.jpg"class="logo-pres" alt="Image 2">
        </div>
    </div>
    <div class="principe">
        <div class="image-pres">
            <img src="images/logo3.gif"class="logo-presa" alt="Image 3">
        </div>
        <div class="text-pres">
            <h2>NOS ACTIONS SUR LE TERRAIN</h2>
            <p>Les clubs Fifty-One oeuvrent dans des domaines aussi divers que variés :

            <ul>
                <li>• Sports, loisirs, art et culture</li>
                <li>• Défense de causes, de droits et d’intérêts sociaux</li>
                <li>• Enseignement, formation et recherche</li>
                <li>• Santé, hébergement social ou médico-social</li>
                <li>• Business Club jeunes entrepreneurs</li>
                <li>• Action sociale, humanitaire et caritative.</li>
            </ul>






Depuis plus d’un demi-siècle nous concrétisons notre soutien moral, émotionnel et financier dans tout un éventail de projets. C’est ainsi que nous distribuons chaque année plus d’un million d’euros pour soutenir le loisir et le mieux-être des moins favorisés et plus particulièrement des enfants. (Voir sur le site www.fifty-one-international.org)</p>
        </div>
    </div>
    <div class="principe">
        <div class="text-pres">
            <h2>POURQUOI DEVENIR FIFTY-ONER ?</h2>
            <p>Le Fifty-One te permet de :
            <ul>
                <li>• mettre en oeuvre des projets sociaux ;</li>
                <li>• recevoir le soutien et l’amitié d’un groupe fort et engagé ;</li>
                <li>• élargir ton réseau et tes ressources pour booster ces projets ;</li>
                <li>• acquérir une expérience valorisante pour une vie sociale et professionnelle ;</li>
                <li>• apporter ta contribution à un monde meilleur pour tous.</li>
            </ul>

Tu t’investis avec les autres dans une cause qui t’est chère. Tu développeras des amitiés sincères, profitables à toi-même et ta famille, et tu pourras aussi élargir ton réseau professionnel et international.
Ensemble, vous organisez et participez à divers événements, vous montez des actions, vous récoltez des fonds.
Vous décidez des projets que vous souhaitez soutenir et vous vous apportez aide et soutien mutuels jusqu’à atteindre les objectifs fixés.
Avec, en retour, des moments de joie et de réussite, dans l’amitié.</p>
        </div>
        <div class="image-pres">
            <img src="images/logo2.jpg"class="logo-pres" alt="Image 4">
        </div>
    </div>
    </div>

    {% block javascripts %} 
        <script src="https://unpkg.com/scrollreveal"></script>
        <script>
    // Initialize ScrollReveal
    const sr = ScrollReveal({
        duration: 1000, // Animation duration (in milliseconds)
        delay: 200, // Delay between item animations (in milliseconds)
        distance: '300px', // Distance of the animation
        origin: 'bottom', // Origin of the animation
    });

    // Define the blocks to animate
    const blocks = document.querySelectorAll('.principe');

    // Apply the animation to each block
    blocks.forEach((block) => {
        sr.reveal(block);
    });
</script>

    {% endblock %}
{% endblock %}