{% extends 'base.html.twig' %}

{% block title %}Ajouter un PV{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-4">Ajouter un PV</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer le PV</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
