{% extends 'base.html.twig' %}

{% block title %}Hello MemberAreaController!{% endblock %}

{% block body %}
    <div class="container">
        <h2>Espace Membre</h2>
    <h2>Member Area</h2>
    {# ... existing content ... #}

    <a href="{{ path('app_member_event') }}" class="btn btn-primary">Voir les évènements</a>

    </div>
{% endblock %}
