{# templates/member/upcoming_meetings.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Réunion à venir{% endblock %}

{% block body %}
    <a href="{{path('member_area')}}" class="area-back">Retour à l'espace membre</a>
    <div class="container">
        <h2 class="mt-4">Calendrier des réunions</h2>
        <a href="{{ path('create_meeting') }}" class="btn btn-success">Ajouter une nouvelle réunion</a>
    
        {% if upcoming_meetings %}
            {% set currentMonth = null %}
            {% for meeting in upcoming_meetings %}
                {% set meetingMonth = meeting.date|format_date('none', 'MMMM Y', null, 'gregorian', 'fr') %}
                {% if meetingMonth != currentMonth %}
                    <h3 class="mt-4">{{ meeting.date|format_date('none', 'MMMM Y', null, 'gregorian', 'fr') }}</h3>
                {% endif %}
                <ul class="list-group mt-2">
                    
                        {{ meeting.date|date('d-m-Y') }}
                    
                </ul>
                {% set currentMonth = meetingMonth %}
            {% endfor %}
        {% else %}
            <p>Pas d'évènements à venir.</p>
        {% endif %}
    </div>
{% endblock %}
