<footer>
    
        <div class="row">
            <div class="col-md-12 footer">
                <a href="{{path('app_mentions')}}">Mentions légales</a>
                <p>© 2022-2023 Gauthier Minor</p>
                <div class="reseau">
                    <p>Nos réseaux :</p>
                </div>
            </div>
        </div>
    
</footer>