<header>
  <div class="menu">
    <div class="top-menu">
        <div class="container-top">
      <h1 class="site-title">Fifty-one club Enghien</h1>
      <a href="#" class="login-link">Se connecter</a>
        </div>
    </div>
    <nav>
      <ul class="site-links">
        <li><a href="{{path('home')}}">Accueil</a></li>
        <li><a href="#">Présentation</a></li>
        <li><a href="#">Membres</a></li>
        <li><a href="#">Evenements</a></li>
        <li><a href="{{ path('news_index') }}">Actualités</a></li>
      </ul>
    </nav>
  </div>
</header>
