{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
<div class="login-container">
    <div class="login-box">
        <h1 class="login-title">Connexion</h1>
        {% if error %}
            <div class="login-alert">
                Une erreur est survenue, le nom d'utilisateur ou le mot de passe est invalide.
            </div>
        {% endif %}
        <form action="{{ path('app_login') }}" method="POST">
            <div class="login-group">
                <label for="email" class="login-label">Email</label>
                <input type="text" id="email" name="_username" class="login-input" placeholder="Adresse email..." required value="{{ username }}">
            </div>
            <div class="login-group">
                <label for="password" class="login-label">Mot de passe</label>
                <input type="password" id="password" name="_password" class="login-input" placeholder="Votre mot de passe" required>
            </div>
            <div class="login-group">
                <button type="submit" class="login-btn">Connexion</button>
            </div>
            <a href="{{path('app_reset_password')}}">Mot de passe oublié ? </a>
        </form>
        <p class="advertisement">&#x26A0; L'accès est réservé aux membres de ce club, il n'est donc pas possible de vous inscrire. </p>
    </div>
</div>
{% endblock %}