{# templates/login/reset-password.html.twig #}

{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

    <div class="container">
    <h1 class="actus-title">Réinitialisation de mot de passe</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button type="submit" class="btn btn-primary">Envoyer l'email de réinitialisation</button>
    {{ form_end(form) }}
    </div>

{% endblock %}