
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import '~bootstrap/dist/css/bootstrap.min.css';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #F4F4F4;
}
.hello{
  font-size: 50px;
  color: #F4F4F4;
}
.menu{
  color: #F4F4F4;
  width: 100%;
  margin: 0;
  padding: 0;
}
.site-title {
  margin: 0;
  text-align: center;
}
.container-top{
  
  color: #F4F4F4;
  width: 80%;
  margin: 0;
  padding:0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}
.top-menu{
  width: 100%;
  height:7.5vh;
  background-color: #2D3B6F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-menu a{
  text-decoration: none;
  color: #F4F4F4;
  font-weight: 400;
}
.top-menu a:hover{
  text-decoration: underline;
}
nav{
  display: flex;
 min-height: 5vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.login-link {
  margin-left: auto;
  padding: 20px;
}
.login-link a{
  color: black;
  text-decoration: none;
}
header {
   text-align: center;
  background-color: white;
  font-weight: bolder;
  }

  .footer{
    display: flex;
    justify-content:space-around ;
    align-items: center;
  }
  .footer a{
    color: #F4F4F4;
  }
  
  .site-title {
    font-size: 28px;
    margin-left: 40px;
  }
  
  .site-links {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: auto;
    text-align: center;

  }
  
  .site-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .site-links li:last-child {
    margin-right: 0;
  }
  
  .site-links li a {
    text-decoration: none;
    color: #555;
    font-size: 1.1rem;
    position: relative;
    padding: 5px 10px;
  }
  
  .site-links li a:hover {
    text-decoration: none;
    color: #2D3B6F;
  }
  
  .site-links li a:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -9px;
    width: 150%;
    height: 4px;
    background-color: #2D3B6F;
  }
  .presentation {
    text-align: center;
    margin-top: 50px;
  }
  
  #title {
    text-align: center;
    margin: 50px;
  }
  footer p{
    margin: 0;
  }
  
  .blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .block {
    width: 200px;
    height: 200px;
    background-color: #F4F4F4;
  }
  .carousel-img {
    max-height: 400px;
    object-fit: contain;
  }
  
  .info-user{
    display: flex;
    align-items: center;
    /* position to the rigth of the div */
  }
  .avatar{
    margin: 0 15px;
  }
  .nav-item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .dropdown-menu a{
    color: black;
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  header{
    /* position: fixed; */
    width: 100%;
    z-index: 100;
  }
  .container-presentation {
    position: relative;
    min-height: 80vh;
    background: white;
    text-align: center;
  }
  
  .container-presentation h2 {
    text-align: center;
    padding: 50px;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }
  
  .logo-presentation {
    opacity: 0;
    width: 50%;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: center;
  }
  
  .logo-presentation.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .logo-presentation img {
    height: 45vh;
  }
  
  .text-presentation {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 50%;
    text-align: center;
  }
  
  .text-presentation.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .textpres {
    width: 80%;
    text-align: center;
    margin: 15px;
  }
  footer {
    background-color: #2D3B6F;
    color: #F4F4F4;
    padding: 20px;
    text-align: center;
  }
  .btn-pres{
    text-align: center;
    margin: 5vh;
    background-color: #2D3B6F;
    border: none;
    border-radius: 0px;
  }
  .btn-pres:hover{
    background-color: #F4F4F4;
    color: #2D3B6F;
    border: 2px solid #2D3B6F;
  }
  .commentaire-contenu{
    width: 80%;
    height: 5vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    color: rgb(24, 24, 24);
  }
  .carousel-item img{
    height:60vh;
    object-fit: cover;
  }
  .logo-menu{
    height: 6.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu-main{
    display: flex;
    align-items: center;
  }
  .cover{
    height: 20vh;
    text-align: center;
  }
  .imgcover{
width: 100%;
text-align: center;
  }
  .container h3{
    text-align: center;
    margin: 50px;
  }
  .container h1{
    text-align: center;
    margin: 50px 0;
  }
  .container h5{
    text-align: center;
    margin: 15px 0;
  }
  .submit-btn{
    background-color: #2D3B6F;
    border: 2px solid #2D3B6F;
    border-radius: 0px;
    color: white;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    
  }
  .submit-btn:hover{
    background-color: #F4F4F4;
    color: #2D3B6F;
  }
  .card-img-top{
    height: 10vh;
    object-fit: contain;
    margin: 20px 0;
  }
  .bouton-voir{
    background-color: #2D3B6F;
    border: 2px solid #2D3B6F;
    border-radius: 0px;
    color: white;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    text-decoration: none;
    align-self: center;
  }
  .bouton-voir:hover{
    background-color: #F4F4F4;
    color: #2D3B6F;
  }
  .bout{
    width: 100%;
    text-align: center;
  }
  .right-button{
    left: 50%;
  }
  .filtrage{
    width: 20%;
  }
  
  .filtre{
    width: 20%;
  }
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination a {
    display: block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
  }
  
  .pagination a:hover,
  .pagination .current {
    background: #2D3B6F;
    color: white;
    padding: 5px 10px;
  }
  .card-home{
    min-height: 45vh;
    background-color: white;
    padding: 40px;
    margin: 20px 0;
  }

  .contact{
    width: 80%;
    margin: 0 auto;
  }
  h1{
    text-align: center;
    margin: 50px 0;
  }
  .supp{
    text-align: center;
  }
  .principe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 75vh;
}
#menu-toggle{
  display: none;
}

.card-text{
  text-align: center;
}

.date-show{
  margin: 20px;
}

.text-pres {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-pres h2{
  margin: 20px 0;
  font-size: 35px;
}

.principe:nth-child(even) .image-pres {
    order: 2;
}

.principe:nth-child(odd) .text-pres {
    order: 2;
}
.logo-presa{
  height: 30vh;
}
.logo-pres{
  height: 50vh;
}
.image-pres{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .cate{
  text-align:center;
  color: #2D3B6F;
  font-weight: bolder;
}
.carousel{
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .site-title {
    font-size: 20px;
    
  }
  .principe{
    flex-direction: column;
  }
  .image-pres{
    width: 100%;
  }
  .text-pres{
    width: 100%;
  }
  .site-links {
    width: 100%;
    padding: 0;
  }
  
  .site-links li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .top-menu {
    height: auto;
  }
  
  .login-link {
    margin: 0;
    padding: 10px;
  }
  
  .container-top {
    width: 100%;

  }
  
  .menu-main {
    flex-basis: 100%;
    text-align: center;
    left: 25%;
  }
  .info-user{
    right: 0;
    margin: 5px;
  }
  .info-user .avatar{
    display: none;
  }
  
  .container-presentation .wrapper{
    width: 100%;
  }
  .avatar {
    margin: 0;
  }
}

/* Media query for screens between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .site-title {
    font-size: 15px;
    margin-left: 20px;
  }
  .container-presentation .wrapper{
    width: 100%;
  }

  .site-links {
    width: 50%;
  }
  .text-presentation{
    transform: translateY(0);
  }
  .logo-presentation{
    transform: translateY(0);
    opacity: 1;
  }
  .top-menu {
    height: auto;
  }
  .principe:nth-child(odd) .text-pres {
    order: 2;
}

.principe:nth-child(even) .image-pres {
  order: 2;
}
  .login-link {
    margin: 0;
    padding: 10px;
  }
}
/* Burger menu icon */
.menu-icon {
  display: none;
}

.menu-icon span {
  background-color: #000;
  display: block;
  height: 3px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  width: 25px;
  z-index: 100;
}

@media(max-width:400px){
  .site-title {
    font-size: 12px;
    margin-left: 20px;
  }
  .top-menu {
    height: 7vh;
  }
  .info-user {
    font-size: 12px;
    font-weight: 400;
    width: 25%;
  }
  .login-link {
    font-size: 10px;
    font-weight: 400;
    width: 25%;
  }
  .container-presentation .wrapper{
    flex-direction: column;
  }
  .text-presentation{
    transform: translateY(0);
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}
/* Media query for responsive design */
@media (max-width: 768px) {
  /* Hide the regular menu */
  .site-links {
    display: none;
  }
  .menu-main a .logo-menu{
    height: 5vh;
  }
  .carousel-item{
    height: 30vh;

  }
  .container-presentation .wrapper{
    flex-direction: column;
  }
  .text-presentation{
    transform: translateY(0);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .logo-presentation{
    transform: translateY(0);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-user .nav-item{
    
  }
  /* Put the link to the right without position absolute */
  .login-link{
    
  }
  header h1{
    font-size: 15px;
  }
  .carousel-item img{
    height: 30vh;
    object-fit: cover;
  }
  
  /* Show the burger menu icon */
  .menu-icon {
    display: block;
    cursor: pointer;
    z-index: 100;
  }
  
  /* Hide the checkbox input */
  #menu-toggle {
    display: none;
  }
  
  /* Show the menu when checkbox is checked */
  #menu-toggle:checked ~ .site-links {
    display: block;
  }
  
  /* Animate the burger menu icon */
  #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: rotate(45deg) translate(36px, -15px);
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(27px, 25px);
  }
}

  