
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Manrope&family=Roboto&display=swap');
  @import '~bootstrap/dist/css/bootstrap.min.css';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GFS Didot', sans-serif;
}
body {
  /* background: linear-gradient(#fff,#c6d9ee); */

    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    min-height: 100vh;

}
.main-content {
  flex: 1; /* This will push the footer to the bottom */
}
.hello{
  font-size: 50px;
  color: #F4F4F4;
}


/*button  */ 
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin: 0 auto;
}
.btn-8 {
  background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #003049 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #003049;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}
.btn-8 span:hover{
  color: #003049;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #003049;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}
.button {
  position: relative;
  display: block;
  color: #003049;
  border: 1px solid #003049;
  background: transparent;
  overflow: hidden;
  text-align: center;
  width: 200px;
  height: 50px;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  padding: 10px;
}
.button::before {
  content: "";
  position: absolute;
  height: 150%;
  width: 150%;
  background-color: #003049;
  transform: translate(-80px, 38px);
  transition: transform 0.45s ease-in-out;
}
.button:hover::before {
  content: "";
  transform: translate(-80px, -15px);
  z-index: -1;
}
.button:hover {
  color: white;
  z-index: 1;
  transition: color ease-in-out 0.5s;
}
.button:active{
 transform: scale(0.9);
}
/* Button 2 */ 

.button-2 {
  position: relative;
  display: block;
  color: white;
  border: 1px solid  #003049;
  background-color: #003049;
  overflow: hidden;
  text-align: center;
  width: 200px;
  height: 50px;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  padding: 10px;
}
.button-2::before {
  content: "";
  position: absolute;
  height: 120%;
  width: 150%;
  text-align: center;
  background-color: white ;
  transform: translate(-80px, 38px);
  transition: transform 0.45s ease-in-out;
}
.button-2:hover::before {
  content: "";
  transform: translate(-80px, -10px);
  z-index: -1;
}
.button-2:hover {
  color: #003049;
  transition: ease-in-out 0.5s;
  z-index: 1;
}
.button-2:active{
 transform: scale(0.9);
}
.button-3 {
  position: relative;
  display: block;
  color: #3dabe6;
  border: 1px solid  #3dabe6;
  background-color: transparent;
  overflow: hidden;
  text-align: center;
  width: 200px;
  height: 50px;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  padding: 10px;
}
.button-3::before {
  content: "";
  position: absolute;
  height: 150%;
  width: 150%;
  text-align: center;
  background-color: white ;
  transform: translate(-80px, 55px);
  transition: transform 0.45s ease-in-out;
}
.button-3:hover::before {
  content: "";
  transform: translate(-80px, -15px);
  z-index: -1;
}
.button-3:hover {
  background-color: white;
  color:#3dabe6;
  z-index: 1;
  transition: ease-in-out 0.5s;
}
.button-3:active{
 transform: scale(0.9);
}
/* header and footer CSS */
.menu{
  color: #F4F4F4;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom:1px solid rgb(206, 179, 25) ;
}
.homelink:hover{
  text-decoration: none;
  color: #F4F4F4;
}

.users-p{
  display: inline-block;
}

.carousel-container{
  filter: brightness(65%);
  height: 100%;
  background-color: white;
  
}
#carouselExampleControls{
  margin: 0 !important;
}
.site-title {
  margin: 0;
  text-align: center;
}
.container-top{
  
  color: #F4F4F4;
  width: 80%;
  margin: 0;
  padding:0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}
.top-menu{
  width: 100%;
  height: 5vh;
  background-color: #003049;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-menu a{
  text-decoration: none;
  color: #F4F4F4;
  font-weight: 400;
}
.top-menu a:hover{
  text-decoration: underline;
}
nav{
  display: flex;
 min-height: 5vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.login-link {
  padding: 20px;
}
.login-link a{
  color: black;
  text-decoration: none;
}
header {
   text-align: center;
  background-color: white;
  font-weight: bolder;
  }

  footer{
    margin-top: auto;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content:space-around ;
  }
  footer .row{
    width: 100%;
    margin: 0;
    height: 100%;
  }
  .footer{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    flex-shrink: 0; /* Don't shrink the footer */
    height: 100%;
    
  }
  
  .site-title {
    font-size: 28px;
    margin-left: 40px;
  }
  
  .site-links {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    width: 50%; /* Adjust the width to take the full width of the header */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
  }
  
  .site-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .site-links li:last-child {
    margin-right: 0;
  }
  
  .site-links li a {
    text-decoration: none;
    color: #003049;
    font-size: 1.1rem;
    position: relative;
    padding: 5px 10px;
  }
  
  .site-links li a:hover {
    text-decoration:none;
    color: rgb(206, 179, 25);
    transition-duration:0.3s ;
    
    
  }
  
  .site-links li a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    width: 150%;
    height: 4px;
    background-color: transparent;
    transition-duration:0.5s ;
  } 
 
  .site-links li a:hover::after {
    background-color: #003049; /* Change the background color on hover */
}
/* disable the after for the first child */
.site-links li:first-child a:hover::after {
  display: none;
}
.site-link li .home-link:hover::after{
  display: none;
}

.site-link li a::after .logo-tel{
  display: none;
}




  .presentation {
    text-align: center;
    margin-top: 50px;
  }
  
  
  footer p{
    margin: 0;
  }
  
  .blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .block {
    width: 200px;
    height: 200px;
    background-color: #F4F4F4;
  }
  .carousel-img {
    max-height: 400px;
    object-fit: contain;
  }
  
  .info-user{
    display: flex;
    align-items: center;
    /* position to the rigth of the div */
  }
  .avatar{
    margin: 0 15px;
    border-radius:50%;
  }
  .nav-item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-item {
    text-decoration: none;
    color: black;
  }
  .dropdown-menu a{
    color: black;
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  header{
    /* position: fixed; */
    width: 100%;
    z-index: 100;
  }  
  /* End header/footer */



  /* HOMEPAGE PRESENTATION */
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  .animate-on-scroll.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  .fade-in.active {
    opacity: 1;
    transform: translateY(0);
  }
      .container-presentation {
        position: relative;
        min-height: 80vh;
        background: white;
      }
      .container-presentation h2{
        width: 50%;
        margin: 0 auto !important;
        padding-top: 50px;
      }
      
      
      .wrapper {
        display: flex;
        min-height: 60vh;
        width: 80%;
        margin:0 auto;
        align-items: center;
        justify-content: center;
      }
      
      .logo-presentation {
        opacity: 0;
        width: 50%;
        height: 100%; /* Set to 100% to take the height from the parent */
        transform: translateY(100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
      
      .logo-presentation.active {
        opacity: 1;
        transform: translateY(0);
        height: 100%; /* Adjust if needed */
      }
      
      .logo-presentation img {
        height: 50vh;
      }
      
      .text-presentation {
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
        width: 50%;
        height: 100%; /* Set to 100% to take the height from the parent */
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .text-presentation.active {
        opacity: 1;
        transform: translateY(0);
        width: 50%; /* Adjust if needed */
        justify-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .textpres {
        width: 80%;
        text-align: center;
        margin: 15px;
      }
      .textpres p{
        
      }


      
  footer {
    background-color: white;
    border: 1px solid rgb(206, 179, 25);
    color: #003049;
    font-weight: 600;
    padding: 20px;
    text-align: center;
  }
  footer a{
    color: #003049;
    text-decoration: none;
  }
  .btn-pres{
    box-sizing: border-box;
    transition-duration: 0.3s;
    margin: 0 auto;
  }

  
  .commentaire-contenu{
    width: 80%;
    height: 5vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    color: rgb(24, 24, 24);
  }
  /* NEWS HOMEPAGE */ 
  .container-news{
    width: 80%;
    margin: 0 auto;
  }
        .card-home{
          min-height: 50vh;
          justify-content: space-between;
          align-items: center;
          margin: 15px;
          padding: 0;
          color: rgb(146, 141, 141);
          border-radius: 3%;
          border: 0.5px solid rgb(206, 179, 25);
          background-color: white;
          overflow: hidden;
        }
        .card-home:hover{
          transform: translate(0,-10px);
          box-shadow: 0 0 5px black;
          transition-duration: 0.5s;
          border: none;
        }
        .news-icon{
          margin: 0 10px;

        }
        .linked{
          text-decoration: none;
          color: rgb(146, 141, 141);
        }
        .cards-home{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          width: 100%;
        }
        .cards-home2{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
         margin-bottom: 80px;
         width: 100%;
        }
        .card-home2{
          min-height: 40vh;
          justify-content: space-around;
          align-items: center;
          margin: 5px;
          padding: 0;
          color: rgb(146, 141, 141);
          border-radius: 3%;
          border: 0.5px solid rgb(206, 179, 25);
          background-color: white;
        }
        .card-home2 .card-title{
          font-size: 1.1rem;
        }
        .title-news{
          font-size: 2rem;
          text-transform: uppercase;
        }
        
        .card-img{
          min-height: 25vh;
          object-fit: cover;
          text-align: center;
        }
        .card-img2{
          min-height: 20vh;
          object-fit: cover;
          text-align: center;
        }
        .card-title{
          font-size: 1.4rem;
          margin: 20px;
          color: #003049;
        }
        .card-img-top2{
          width: 100%;
          height: 20vh;
          object-fit: cover;
          border-top-left-radius:3% ;
          border-top-right-radius:3% ;
        }
        .card-img-top{
          width: 100%;
          height: 25vh;
          object-fit: cover;
          border-top-left-radius:3% ;
          border-top-right-radius:3% ;
        }
        .card-date{
          font-size: 0.8rem;
          margin: 20px;
        }
        .card-text{
        margin: 20px;
        margin-bottom: 2rem;
        }

      a.view-actu {
        display: inline-flex;
        align-items: center;
        justify-self: flex-end;
        padding: 10px;
        text-decoration: none;
        color: #003049;
        font-weight: bold;
        font-size: 0.9rem;
        margin-bottom: 15px;
        margin-right: 15px;
      }
      .view-actu:hover {
        
          background-color: #f2efef;
          color: #4458a0;
          transition-duration: 0.5s;
      }
      .view-actu:hover .arrow{
        color: gold;
        transition-duration: 0.5s;
      }

      .arrow{
        margin-left: 10px;
        color: rgb(206, 179, 25);
      }
      .title-home {
        margin: 70px;
        margin-bottom: 3rem;
        border-bottom: 1px solid rgb(206, 179, 25);
        padding-bottom: 20px;
        font-weight: bolder;
        color: #003049;
      }
      .new-icon{
        color: #003049;
      }


      .outer-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 45vh;
    }
    
    .latest-news-container {
      min-height: 60vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #50646e;
        z-index: 1; /* Background layer */
        padding: 50px;
    }
    
    
    
    .latest-news-content {
        position: relative;
        width: 100%; /* Adjust this as needed */
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        z-index: 3; /* Content layer - ensuring it's above the filter */
    }
    
    .latest-news {
        width: 80%;
        background-color: rgba(255, 255, 255, 0.691);
        filter: opacity(80%);
        border-radius: 25px;
        min-height: 55vh;
        /* Assuming you might want to center this container, you can add margin auto */
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .last-3-news{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      border: 1px solid rgb(206, 179, 25);
      border-radius: 25px;
      width: 80%;
      height: 100%;
      margin: 15px auto;
      text-align: center;
      height: 30vh;

      box-shadow: 0 0 2px black;
      overflow: hidden;
    }
    .last-3-news p{
      margin: 0;
      color: white;
    }
    .last-3-news:hover{
      opacity: 0.8;
    }
    .link-last-news{
      text-decoration: none;
      color: #003049;
      width: 25vw;
    }
    .latest-news p{
      margin-top: 20px;
      text-align: center;
      font-size: 1.3rem;
      color: rgb(105, 104, 104);
    }
    .last-3-news-img{
      width: 100%;
      object-fit: cover;
      min-height: 30vh;
      z-index: 1;
    }
    .news-image-cont{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .last-3-news-title{
      color: white;
      position: absolute;
      z-index: 2;
      opacity: 0;
      top: 40%;
      text-transform: uppercase;
      margin: 0 15px;
      width: 80%;
      font-size: 1.3rem;
    }
    .last-3-news:hover .last-3-news-img{
      filter: brightness(30%);
      transition-duration: 0.5s;
    }
    .last-3-news:hover .last-3-news-title{
     
      transition-duration: 0.5s;
      display: block;
      opacity: 1;
    }
    

/* News index */
.last-news {
  display: flex;
  height: 45vh;
  width: 100%;
  color: white;
}
.last-news a{
  text-decoration: none;
  color: white;
}

.latest {
  min-width: 50vw;
  min-height: 100%;
  position: relative;
  overflow: hidden; /* Hide overflowing content */
  display: flex;
  box-sizing: border-box;

}

.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter:brightness(40%) ;

  transition: transform 1s ease-in-out,filter 1s ease-in-out;
}

.latest:hover .image {
  transform: scale(1.1);
  filter: brightness(65%);
}

.content-news {
  position: relative; /* Ensure the text is positioned relative to .latest */
  z-index: 1; /* Keep the text on top */
  align-self: flex-end; /* Align the content-news div to the bottom */
  margin-top: auto;
  margin-left: 20px;
}
.content-news h3{
  font-size: 1.8rem;
}

.last-2 {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.first-last, .second-last {
  position: relative;
  height: 50%;
  display: flex;
}

.first-last .image, .second-last .image {
  position: absolute;;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter:brightness(40%);
  overflow: hidden;
  transition: transform 1s ease-in-out,filter 1s ease-in-out;
}

.first-last:hover .image, .second-last:hover .image {
  transform: scale(1.1);
  filter: brightness(65%);
}

.first-last .content-news, .second-last .content-news {
  position: relative; /* Ensure the text is positioned relative to .latest */
  z-index: 1; /* Keep the text on top */
  align-self: flex-end; /* Align the content-news div to the bottom */
  margin-top: auto;
  margin-left: 20px;
}




/* Show actualités */
        .date-show{
          font-size: 0.8rem;
          margin-top: 20px;
          color: #003049;
        }
        .container-actu{
          margin: 0 auto;
          width: 40%;
        }
        .imgcover{
          width: 100%;
          height:40vh;
          margin-top:50px;
        }
        .imgcover img{
          width: 100%;
          object-fit: cover;
          height: 100%;
          border-radius: 2%;
        }
        .actu-title-show{
          color: #003049;
          border-bottom: 1px solid rgb(206, 179, 25);
          padding-bottom: 20px;
        }
        .subtitle-actu{
          color: #003049;
          font-size: 1.6rem;
          margin-top: 20px;
        }

        .reservation{
          display: flex;
          flex-direction: column;
          width: 50%;
          height: 15vh;
          justify-content: space-between;
          position:fixed;
          top: 60%;
          left: 85%;
        }


/* Members events show */
        .member-events-container{
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 60px auto;
          width: 80%;
        }
        .events-cover{
          width: 50%;
          object-fit: contain;
        }
        .events-cover img{
          width: 100%;
          object-fit: contain;
        }
/* fin member events */ 
/* Pages d'actualités */
      .actus-title{
        color: #003049;
        border-bottom: 1px solid rgb(206, 179, 25);
        padding-bottom: 20px;
      }
  .carousel-item img{
    height:40vh;
    object-fit:cover;
  }
  .bandeau{
    position: relative;
    width: 100%;
    height: 30vh ;
    z-index: 1;
    color: white;
  }
  .bandeau-actus{
    background-color:#003049 ;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bandeau-actus h4{
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
  }
  .bandeau img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    object-position: center center;
    z-index: 1;
  }
  .bandeau h4{
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate( -50%);
    z-index: 2;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;

  }
  .logo-menu{
    height: 6.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu-main{
    display: flex;
    align-items: center;
  }
  .cover{
    height: 20vh;
    text-align: center;
  }
  .imgcover{
width: 100%;
text-align: center;
  }
  .container h3{
    text-align: center;
    margin: 50px;
  }
  .container h1{
    margin: 50px 0;
  }
  .submit-btn{
    background-color: #003049;
    border: 2px solid #003049;
    border-radius: 0px;
    color: white;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    
  }
  .submit-btn:hover{
    background-color: #F4F4F4;
    color: #003049;
  }
 
  .bouton-voir{
    border-radius: 0px;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    text-decoration: none;
    align-self: center;
  }
  .bout{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .right-button{
    left: 50%;
  }
  .filtrage{
    width: 50%;
  }
  
  .filtre{
    width: 20%;
  }
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination a {
    display: block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
  }
  
  .pagination a:hover,
  .pagination .current {
    background: #003049;
    color: white;
    padding: 5px 10px;
  }


  .contact{
    width: 40%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.44);
    padding: 50px;
    border-radius: 25px;
  }
  .contact-field:first-child{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-field label{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  #contact_message{
    max-height: 15vh;
    min-height: 15vh;
  }

  .contact-field .mb-3{
    width: 100%;
  }
  h1{
    margin: 50px 0;
  }
  .supp{
    text-align: center;
  }
  .principe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 75vh;
}
#menu-toggle{
  display: none;
}



.date-show{
  margin: 20px;
}

.text-pres {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-pres h2{
  margin: 20px 0;
  font-size: 35px;
}

.principe:nth-child(even) .image-pres {
    order: 2;
}

.principe:nth-child(odd) .text-pres {
    order: 2;
}
.logo-presa{
  height: 30vh;
}
.logo-pres{
  height: 50vh;
}
.image-pres{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .cate{
  text-align:center;
  color: #003049;
  font-weight: bolder;
}
.carousel{
  margin-bottom: 50px;
}
.logo-tel{
  display: none;
}
.events-cards{
  box-shadow: 0px 0px 5px black;
}
/* Espace membres */
    

/* End Espace membres */
@media (max-width: 767px) {
  .site-title {
    font-size: 20px;
    
  }
  .text-presentation .button-2{
    margin: 20px auto;
  }
  .link-last-news{
    min-width: 80vw;
    margin-top: 25px;
  }
  .latest-news{
    width: 95vw;
  }
  .principe{
    flex-direction: column;
  }
  .image-pres{
    width: 100%;
  }
  .text-pres{
    width: 100%;
  }
  .site-links {
    width: 100%;
    padding: 0;
  }
  .logo-menu{
    display: none;
  }
  .logo-tel{
    display: block;
    height: 7vh;
  }
  .menu{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu nav{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .site-links li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .top-menu {
    height: auto;
  }
  .last-news{
    flex-direction: column;
    min-height: 80vh;
  }
  .latest{
    width: 100%;
    height: 30vh;
  
  }
  .first-last{
    height: 25vh;
    width: 100%;
  }
  .second-last{
    height: 25vh;
    width: 100%;
  }
  .last-2{
    width: 100%;
  }
  .login-link {
    margin: 0;
    padding: 10px;
  }
  
  .container-top {
    width: 100%;

  }
  
  .menu-main {
    flex-basis: 100%;
    text-align: center;
    left: 25%;
  }
  .info-user{
    right: 0;
    margin: 5px;
  }
  .info-user .users-p{
    display: none;
  }
  .nav-link{
    width: 15%;
  }
  .menu-icon{
    width: 15%;
    text-align: center;
  }
  .menu-icon span{
    text-align: center;
  }
  
  .container-presentation .wrapper{
    width: 100%;
  }
  .avatar {
    margin: 0;
  }
}
/* media query for screens between 1400px and 1024 px */
@media (min-width: 1200px) and (max-width: 1400px) {


  .last-3-news-img{

  }
  .last-3-news-title{
    font-size: 1.2rem;
    margin: 0;
  }
}
/* Media query for screens between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1200px) {
  .latest-news{
    width: 95%;
    min-height: 50vh;
  }
  .last-3-news-title{
    font-size: 1.2rem;
    margin: 0;
  }
  .site-title {
    font-size: 15px;
    margin-left: 20px;
  }

  .last-3-news-img{
    
  }
  .container-presentation .wrapper{
    width: 100%;
  }

  .site-links {
    width: 50%;
  }
  .text-presentation{
    transform: translateY(0);
  }
  .logo-presentation{
    transform: translateY(0);
    opacity: 1;
  }
  .top-menu {
    height: auto;
  }
  .principe:nth-child(odd) .text-pres {
    order: 2;
}

.principe:nth-child(even) .image-pres {
  order: 2;
}
  .login-link {
    margin: 0;
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  .carousel-slide {
    display: none !important;
  }
  .events-member{
    min-width: 75vw;
  }
  .container-member svg{
    width: 100px;
    height: 100px;
  }
  .upcoming-event h4{
    font-size: 1.1rem;
  }
  .carousel-slide.active{
    display: block !important;
    width: 70%;
    left: 13.5% !important;
    margin: 0 auto;
  }
  .link-last-news{
    width: 65vw;
  }
  .last-3-news-title{
    opacity: 1;
    top: 45%;
    font-size: 1.4rem;
  }
  .last-3-news-img{
    filter: brightness(50%);
  }
}
@media (max-width:800px) {
  .carousel-slide.active{
    display: block !important;
    width: 90%;
    left: 5% !important;
    margin: 0 auto;
  }
  .events-member{
    display: flex;
    flex-direction: column;
    min-height: 45vh;
  }
  .events-member svg{
    width: 150px;
    height: 150px;
  }
  .controls{
    width: 110% !important;
    left: 50% !important;
  }
}
/* Burger menu icon */
.menu-icon {
  display: none;
}

.menu-icon span {
  background-color: #000;
  display: block;
  height: 3px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  width: 25px;
  z-index: 100;
}

@media(max-width:400px){
  .site-title {
    font-size: 12px;
    margin-left: 20px;
  }
  .top-menu {
    height: 7vh;
  }
  .info-user {
    font-size: 12px;
    font-weight: 400;
    width: 25%;
  }
  .login-link {
    font-size: 10px;
    font-weight: 400;
    width: 25%;
  }
  .container-presentation .wrapper{
    flex-direction: column;
  }
  .text-presentation{
    transform: translateY(0);
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}
/* Media query for responsive design */
@media (max-width: 768px) {
  /* Hide the regular menu */
  .site-links {
    display: none;
  }
  .menu-main a .logo-menu{
    height: 5vh;
  }
  .carousel-item{
    height: 30vh;
  }
  .title-home{
    font-size: 1.5rem;
  }
  .latest-news{
    margin: 25px;
  }
  .container-presentation .wrapper{
    flex-direction: column;
  }
  .text-presentation{
    transform: translateY(0);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .logo-presentation{
    transform: translateY(0);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-user .nav-item{
    
  }
  /* Put the link to the right without position absolute */
  .login-link{
    
  }
  header h1{
    font-size: 15px;
  }
  .carousel-item img{
    height: 30vh;
    object-fit: cover;
  }
  
  /* Show the burger menu icon */
  .menu-icon {
    display: block;
    cursor: pointer;
    z-index: 100;
  }
  
  /* Hide the checkbox input */
  #menu-toggle {
    display: none;
  }
  
  /* Show the menu when checkbox is checked */
  #menu-toggle:checked ~ .site-links {
    display: block;
  }
  
  /* Animate the burger menu icon */
  #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: rotate(45deg) translate(36px, -15px);
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(27px, 25px);
  }
}

/* Espace membres */
.conti{
  /* background: linear-gradient(to right, #ffd89b, #004e92); */
  background: #157a6e
}
.member-title{
  text-align: center;
  padding-top: 45px;
  color: white;
}
.container-member{
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
}
.events-member{
  color: white;
  background-color: rgba(255, 255, 255, 0.378);
  width: 55vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  border-radius: 15px;
  margin: 35px auto;
  text-align: center;
  box-shadow: 0px 0px 3px #003049;
}
.events-member:hover{
  box-shadow: 0px 0px 15px #ffffff;
  transition-duration: 0.5s;
  border: none;
}

.single-event{
  text-decoration: none;
  color:#003049;
  font-weight: 800;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  border: solid 1px rgb(206, 179, 25);

}
.upcoming-event{
  display: flex;
  flex-direction: column;
}
.upcoming-event h4{
  font-weight: 600;
}

.upcoming-event a{
  color: #000;
  text-decoration: underline;
}
.other-events{
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid rgb(206, 179, 25) ;
  text-align: center;
}
/* .other-events:hover{
  color: #003049;
  background-color: white;
  transition-duration: 0.3s;
  font-weight: 800;
} */

.meetings-member{
  background-color: white;
  width: 25vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}
.next-meeting{
  display: flex;
}
.meetings-member p{
  font-weight: 800;
  color: #003049;
  font-size: larger;
  margin-bottom: 20px;
}
.meeting-button{
  background-color: #003049;
  padding: 8px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border:1px solid rgb(206, 179, 25);
  margin-top: 20px;
}
.meeting-button:hover{
  color: #003049;
  background-color: white;
  transition-duration: 0.3s;
  font-weight: 800;
}

.area-back{
  color: #003049;
}
.area-back:hover{
    background-color: #e9e7e7;
    transition-duration: 0.3s;
}
.summary{
  background-color: white;
  width: 25vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 25vh;
  border-radius: 15px;
  margin-top: 25px;
}
.last-summary{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.summary-link{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.messagerie{
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  width: 35vw;
  height: 25vh;
  border-radius: 15px;
}
.msg{
  display: flex;
  flex-direction: column;
}
.title-area{
  color: #003049;
  border-bottom: 1px solid #003049;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
a {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .container-member {
    width: 90%;
  }
  .events-member {
    width: 90%;
    height: 30vh;
  }
  .meetings-member {
    width: 90%;
    height: 30vh;
  }
  .summary {
    width: 90%;
  }
  .messagerie {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .container-member {
    width: 90%;
  }
  .events-member {
    width: 100%;
    height: 40vh;
  }
  .meetings-member {
    width: 100%;
    height: 40vh;
  }
  .summary {
    width: 100%;
  }
  .messagerie {
    width: 100%;
  }
}

.container {
  max-width: 1020px !important;
}

.thumbnail-date-day {
  color: rgb(255, 255, 255);
}

.thumbnail-date-month {
  color: rgb(255, 255, 255);
}



/* div,
span {
   box-sizing: initial;
  line-height: 1;
} */

.thumbnail {
  -webkit-touch-callout: none;
  border-radius: 3px;
  box-sizing: initial;
  height: 52px;
  min-width: 52px;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 52px;
}

.grey {
  background-color: #bababaa7;
}

.thumbnail .thumbnail-date span,
.thumbnail .thumbnail-date span {
  display: inline-block;
  line-height: 1;
}

.thumbnail .thumbnail-date .thumbnail-date-day {
  font-size: 24px;
  font-weight: 700;
  margin-top: 4px;
  position: relative;
  text-align: center;
  top: 4px;
  width: 100%;
}

.thumbnail .thumbnail-date .thumbnail-date-month {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.tags-list-town {
  background-color: #198754;
}

.tags-list span {
  border-radius: 2px;
  color: #fff;
  cursor: default;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 4px;
  margin-right: 5px;
  padding: 4px 6px;
  position: relative;
}

.text-over {
  font-size: 1.3em;
  font-weight: 900;
  color: #fff;
  padding: 20px;
}

.cardi {
  border: 0 !important;
  border-radius: 0 !important;
}

.card-img-top {
  border-radius: 0 !important;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 47%);
  z-index: 1;
}
.cardi.parallax {
  transition: transform 0.3s ease-out; /* smoothens the transition */
}
/* box shadow for cardi  */


.image-container .card-img-top {
  position: relative;
  z-index: 0;
}

.tags-list-town {
  background-color: #9c27b0;
}
/* Top left text */
.bottom-left {
  position: absolute;
  bottom: 14px;
  left: 16px;
  z-index: 999;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: #fff;
  font-size: 10px;
  z-index: 999;
}

.top-right {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 999;
}

.thumbnail {
  box-shadow: 0.5rem 0.5rem #00000085, -0.5rem -0.5rem #cccccca3;
}

.cardi {
  border: 1px solid #eee;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.tags-list span {
  font-size: 14px !important;
} 

/* Messagerie  */
.conversation-container {
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 15px;
}

.received {
  background-color: lightgreen;
  align-self: flex-start;
}

.sent {
  background-color: lightblue;
  align-self: flex-end;
}

.message-content {
  margin-top: 5px;
}
/* Custom carousel styles */


.custom-carousel {
    position: relative;
    width: 80%; /* Change to your preference */
    margin:45px auto;
    min-height: 55vh;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;  /* Adjust based on your desired carousel height */

}

.carousel-slide {
    position: absolute;
    width: 30%; /* Divided for three slides */
    top: 0;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0.5; /* Make side slides less visible */
    transform: scale(0.8);
    border: 1px solid #8bb6e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Give a shadow to make it look like a card */
    background: #ffffff;  /* Background color for card */
}
.carousel-slide .active{
  justify-content: space-between;
}
.carousel-info{
  text-align: center !important;
  margin: 20px;
}
.carousel-slide .carousel-info {
    display: none; /* By default hide the carousel info */
}

/* Position for the central slide */
.carousel-slide.active {
    left: 33.33%;
    opacity: 1;
    transform: scale(1);
}

.carousel-slide.active .carousel-info {
    display: block; /* Show info for the central slide */
}

/* Position for the left slide */
.carousel-slide.prev {
    left: 0;
}

/* Position for the right slide */
.carousel-slide.next {
    left: 66.66%;
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 48.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%,-400%);
    
    text-align: center;
    
}

.carousel-control {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border: 1px solid #003049 ;
    border-radius: 35%;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
}
.carousel-control:hover{
  background-color: #003049;
  color: white;
  transition-duration: 0.3s;
}

.carousel-image {
  width: 100%;
  height: 45%;
  object-fit: cover;
  border-radius: 5px;
}
.title-carousel{
  color: #003049;
  font-size: 1.6rem;
  font-weight: bolder;
  margin: 20px;
  text-transform: uppercase;
}
.carousel-info .btn-pres {

}
/* Contact */ 

.container-contact{
  width: 100%;
  min-height: 74.2vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #003049, #8bb6e8);
  color: white;
}
.container-contact h1{
  color: white;
}
