{# templates/contact.html.twig #}

{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
    <div class="div container-contact">
    <h1 class="title-home">Contactez nous</h1>

    <div class="contact">
    
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}

        <button type="submit" class="bouton-voir">Envoyer</button>
    {{ form_end(form) }}
    </div>

    </div>
{% endblock %}
