{# templates/change_password/change_password.html.twig #}


{% extends "base.html.twig" %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block title %} Modification du mot de passe de l'utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du mot de passe de l'utilisateur</h1>
        {{form_start(form)}}
            {{form_widget(form)}}
            <button type="submit" class="button-2">Enregistrer la modification du mot de passe</button>
        {{form_end(form)}}
    </div>
{% endblock %}
