{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block body %}
    <h1>Établissez votre mot de passe</h1>
    <form action="{{ path('set_password_route', {'token': token}) }}" method="post">
        {{ form_widget(form) }}
        <button type="submit">Confirmer</button>
    </form>
{% endblock %}