{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block body %}
    <div class="forms-container">
    <h1>Établissez votre mot de passe</h1>
        <form action="{{ path('set_password_route', {'token': token}) }}" method="post">
            {{ form_widget(form) }}
            <button class="button-2" type="submit">Confirmer</button>
        </form>
    </div>
{% endblock %}