{% extends 'base.html.twig' %}

{% block body %}
    <h1>Set Your Password</h1>
    <form action="{{ path('set_password_route', {'token': token}) }}" method="post">
        {{ form_widget(form) }}
        <button type="submit">Set Password</button>
    </form>
{% endblock %}