{% extends 'base.html.twig' %}

{% block body %}
    <h2>Your Conversations</h2>
    <ul>
        {% for conversation in conversations %}
            <li>
                <a href="{{ path('message_show_conversation', {'id': conversation.id}) }}">{{ conversation.subject }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
