{% extends 'base.html.twig' %}

{% block title %}Enter Reservation Number{% endblock %}

{% block body %}
  <div class="container">
    <h1>Enter Reservation Number</h1>
    {% if app.flashes('error') is not empty %}
      <div class="alert alert-danger">{{ app.flashes('error')[0] }}</div>
    {% endif %}
    <form method="post">
      <div class="mb-3">
        <label for="reservationNumber" class="form-label">Reservation Number</label>
        <input type="text" class="form-control" id="reservationNumber" name="reservationNumber">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
