<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue au Fifty-One Enghien</title>
</head>
<body>
    <h1>Bienvenue au Fifty-One Enghien!</h1>
    <p>Avant de pouvoir vous connecter sur notre site en tant que membre, vous devez établir un mot de passe.</p>
    <a href="{{ url('set_password_route', {'token': token}) }}">Établir votre mot de passe</a>
    <p>Si vous pensez ne pas être concerné par cet e-mail merci de ne pas répondre</p>
</body>
</html>
