<!DOCTYPE html>
<html>
<head>
    <title>Set Up Your Password</title>
</head>
<body>
    <h1>Welcome to [Your Service Name]!</h1>
    <p>You're just one step away from completing your registration. Click the link below to set up your password:</p>
    <a href="{{ url('set_password_route', {'token': token}) }}">Set Up Your Password</a>
    <p>If you didn’t ask to reset your password, please ignore this email.</p>
</body>
</html>
